body {
  background-color: rgba(22, 2, 28, 0.406);
}

.clickable {
  cursor: pointer;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(50, 0, 88);
}

a:visited {
  text-decoration: none;
  color: rgb(50, 0, 88);
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 5rem;
  border: 1px solid rgb(50, 0, 88);
  margin: 15px;
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
}

.repoList {
  display: flex;
  align-items: center;
  justify-content: center;
}

.repoItem {
  margin-right: 10px;
}

.current {
  color:  rgb(50, 0, 88);
  text-decoration: underline;
}

.pageList {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginate {
  margin: 5px;
}

.searchButton {
  background-color: rgb(50, 0, 88);
  color: #b598b7;
  border: 0px;
  border-radius: 0.5rem;
}